
.padding-top {
	padding-top: 24px;
}

.container{
	font-family: 'URW Chancery L, cursive';
}

.padding{
	padding-top: 50px;
	padding-left: 200px;
	padding-right: 200px;
	background-image: url("https://unsplash.com/photos/GJTvskNc4NU");
}